:root {
    --c-jade: rgb(0, 187, 119);
    --c-jadelight: rgb(242, 255, 250);
    --c-jadedark: rgb(0, 167, 105);
    --c-orange: rgb(237, 211, 142);
    --c-orangelight: rgb(255, 250, 237);
    --c-orangedark: rgb(237, 211, 142);
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    margin: auto;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    font-family: Garamond;
    width: 90vw;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 90vw;
    max-width: 390px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.background {
    z-index: -1;
    position: fixed;
    /* transform: translateY(-50%); */
    width: 95vw;
    max-width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 15%;
}

.background-image {
    object-fit: cover;
    height: 100vh;
}

.body-content {
    padding: 1rem;
    padding-bottom: 4rem;
}

p {
    font-size: 18px;
}

.p-bs {
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a.button {
    padding: .625rem 1rem;
    font-size: 16px;
    border: 1px solid black;
    font-weight: 600;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 0.625rem;
}

a.button:hover {
    text-decoration: none;
}

a.button:active {
    text-decoration: none;
}

.landing {
    background-color: var(--c-jadelight);
}

#landing-button {
    background-color: var(--c-jade);
    display: inline-block;
}

#landing-button:hover {
    background-color: var(--c-jadedark);
}

.itin {
    background-color: var(--c-orangelight);
}

#itin-button {
    background-color: var(--c-orange);
    display: inline-block;
}

#itin-button:hover {
    background-color: var(--c-orangedark);
}

.itin-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2rem;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}